[Desktop Entry]
Name=UARTly
Comment=Advanced UART Serial Terminal
Exec=uartly
Icon=${SNAP}/meta/gui/URTly.png
Terminal=false
Type=Application
Categories=Development;Utility;
